@use 'config/reset.scss';
@use 'config/variaveis.scss';
@use 'sass:math';

/*# sourceMappingURL=main.css.map */

html {
  scroll-behavior: smooth;
}

body {
    background-color: variaveis.$corDeFundo;
}

header {
    background-color: variaveis.$corPrincipal;
    position: sticky;
 

    .branding img{
        max-width: 5%;
    }


.container, .containerh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
}

.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

}

.cont {
  width: 100%;
  height: 70vh; //
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQASS2X3oIC24Ls6I_0s1bua1kPhKTcGTs-2Q&s') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 0;


  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  .container, .containerh {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 20px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .button {
      background: gold;
      color: black;
      padding: 12px 30px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      transition: 0.3s;

      &:hover {
        background: variaveis.$corBtn;
      }
    }
  }

  img {
    display: none; 
  }
}



section {
    padding: 56px 0;

    .products {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    max-width: 80%;
    padding: 0;
     margin: 0;
     margin-left: 10%;
}

.products {
  align-items: stretch;
}


li {
    list-style: none;
}

.product-item {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


}
.product-button {
    display: block;
    background-color:variaveis.$corSecundaria;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
     &:hover {
        background-color: darken(variaveis.$corBtn, 15%);
      }
}

 //universal
.container, .containerh {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


#sobre {
  background-color:  #f1efefc4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // sombra suave
  border-radius: 16px;
  padding: 40px;
  max-width: 900px;
  margin: 40px auto; // centraliza horizontalmente
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  .contain {
  text-align: center; // opcional, centraliza o texto dentro
}

}


h2, h3, p {
        font-family: 'Playwrite DK Loopet';
        color:#beb36f;
}

.contact {
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // sombra suave
border-radius: 16px;
padding: 40px;
}


footer {
    background-color: variaveis.$corSecundaria;
    padding: 10px;
p {
    text-align: center;
}

}

@media screen and (max-width: variaveis.$mobile) {

     .container {
        max-width: 100%;
      
       .branding {
           
            display: none;
        }

        .cont{
            padding: 20px;
        }
        p{
            padding-bottom: 20px;
        }

    
    }

  
    h2{
      text-align: center;
    }




 .products {
    display: block !important;  
    padding: 0;
    margin: 0;
   

     .product-item {
    display: block !important;  
    width: 100% !important;  
      height: 10% !important;     
    margin-bottom: 20px;
   
    
    
  }
    .product-item img{
    display: block !important;  
    width: 100% !important;     
    margin-bottom: 20px;
    
    
  }

  }
  .contact{
    text-align: center;
  }

  p{
        text-align: center;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 100%;
    }
    .containerh {
        max-width: 80%;
    }

      .menu {
      margin-right: 29px!important;
    }

     p{
        text-align: center;
    }
}

@media screen and (min-width: variaveis.$tablet) {
    .container {
        max-width: 90%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;

   
    }

         .containerh {
        max-width: 80%;
    }

  
}
